@page "/CartDetail/{id:guid}"
@layout Layout.MainLayout
<style>

</style>

<div style="padding: 5.625rem; background: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/sub-banner-top.jpg?1662429924636) no-repeat; background-size: cover; width: 100%">
    <div class="container">
        <div style="width: 100%; text-align: center">
            <h2 style="color: #fff; margin: 0; font-size: 60px; font-weight: 400">Giỏ hàng</h2>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <ul class="d-flex justify-content-start gap-3 align-items-center" style="padding: 20px 0; margin-bottom: 30px; border-bottom: 1px solid #f0ebe2">
                        <li>
                            <a href="#" class="nav-link">
                                <span style="font-size: 14px">Trang chủ</span>
                            </a>
                        </li>

                        <li>
                            <span>/</span>
                        </li>

                        <li>
                            <span style="font-size: 14px; color: #f2b94c">Giỏ hàng</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="margin-bottom: 4rem">
    <div class="container">
        @* <table class="table table-bordered">
        <thead>
        <tr class="text-center">
        <th>Ảnh sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th>Xóa</th>
        </tr>
        </thead>

        <tbody>
        <tr class="text-center">
        <td>
        <img width="20%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
        </td>
        <td>Pizza nhân bò phô mai</td>
        <td>340.000</td>
        <td>
        <ul class="m-0 p-0 d-flex justify-content-center ">
        <li><button style="border: 1px solid #ddd; padding: 3px 8px">-</button></li>
        <li><button style="border: 1px solid #ddd; padding: 3px 8px">1</button></li>
        <li><button style="border: 1px solid #ddd; padding: 3px 8px">+</button></li>
        </ul>
        </td>
        <td>
        340.000
        </td>
        <td>
        <i class="fa-solid fa-trash" style="color: #000000;"></i>
        </td>
        </tr>
        </tbody>
        </table> *@
        <div>
            <ul class="d-flex justify-content-center m-0 p-0" style="font-size: 14px; text-align: center">
                <li style="width: 17%; border: 1px solid #ebebeb; padding: 27px 0; border-right: 0">
                    Hình ảnh
                </li>
                <li style="width: 33%; border: 1px solid #ebebeb; padding: 27px 0; border-right: 0">
                    Tên sản phẩm
                </li>
                <li style="width: 15%; border: 1px solid #ebebeb; padding: 27px 0; border-right: 0">Đơn giá</li>
                <li style="width: 14%; border: 1px solid #ebebeb; padding: 27px 0; border-right: 0">Số Lượng</li>
                <li style="width: 15%; border: 1px solid #ebebeb; padding: 27px 0; border-right: 0">Thành tiền</li>
                <li style="width: 6%; border: 1px solid #ebebeb; padding: 27px 0;">Xóa</li>
            </ul>
        </div>

        <div>
            <ul class="d-flex justify-content-center align-items-center m-0 p-0" style="font-size: 14px; text-align: center; border: 1px solid #ebebeb; border-top: 0; height: 15rem">

                <li style="width: 17%; border-right: 1px solid #ebebeb; height: 100%; display: flex; align-items: center; justify-content: center">
                    <img width="100%" src="https://bizweb.dktcdn.net/thumb/large/100/053/643/products/1.jpg?v=1454064638327" />
                </li>

                <li style="width: 33%;border-right: 1px solid #ebebeb; height: 100%; display: flex; align-items: center; justify-content: center">
                    Pizza nhân bò phô mai
                </li>

                <li style="width: 15%; border-right: 1px solid #ebebeb; height: 100% ;display: flex; align-items: center; justify-content: center">340000</li>

                <li style="width: 14%; border-right: 1px solid #ebebeb; height: 100%; display: flex; align-items: center; justify-content: center">
                    
                </li>

                <li style="width: 15%; border-right: 1px solid #ebebeb; height: 100%;  display: flex; align-items: center; justify-content: center">340000</li>

                <li style="width: 6%; height: 100%;  display: flex; align-items: center; justify-content: center">
                    <i class="fa-solid fa-trash" style="color: #000000;"></i>
                </li>
            </ul>
        </div>

        <MudTable Items="@lstCartDetails" Dense="true" Hover="true" Virtualize="true" FixedHeader="true" HorizontalScrollbar="true" Height="600px">
            <HeaderContent>
                <MudTh>Ảnh</MudTh>
                <MudTh>Tên món ăn</MudTh>
                <MudTh>Giá</MudTh>
                <MudTh>Số lượng</MudTh>
                <MudTh>Thao tác</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Ảnh">
                    <MudImage Width="150" Src="" />
                </MudTd>
                <MudTd DataLabel="Tên món ăn">
                    @foreach (var item in lstFood)
                    {
                        if (context.FoodId == item.Id)
                        {
                            @item.Name
                        }
                    }
                </MudTd>
                <MudTd>
                    @foreach (var item in lstFood)
                    {
                        if (context.FoodId == item.Id)
                        {
                            @item.PriceCurrent
                        }
                    }
                </MudTd>
                <MudTd DataLabel="Số lượng">
                    <MudGrid>
                        <MudItem xl="3" lg="3">
                            <MudIconButton Icon="@Icons.Material.Filled.ExposureNeg1"></MudIconButton>
                        </MudItem>
                        <MudItem xl="6" lg="6">
                            <MudTextField T="int" @bind-Value="@quantity" />
                        </MudItem>
                        <MudItem xl="3" lg="3">
                            <MudIconButton Icon="@Icons.Material.Filled.ExposurePlus1"></MudIconButton>
                        </MudItem>
                    </MudGrid>
                </MudTd>
                <MudTd DataLabel="Thao tác">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"></MudIconButton>
                </MudTd>
            </RowTemplate>
        </MudTable>

        <div>
            <div style="display: flex; align-items: center; border: 1px solid #ebebeb; border-top: 0">
                <div style="width: 79%; border-right: 1px solid #ebebeb; padding: 27px 10px">
                    <span style="font-size: 14px; float: right">Tổng tiền:</span>
                </div>

                <div style="width: 21%;  padding: 27px 10px">
                    <span style="font-size: 14px; color: #c69c6d; font-weight: 500; float: right">340000</span>
                </div>
            </div>
        </div>

        <div>
            <div style="display: flex; align-items: center; justify-content: space-between; border: 1px solid #ebebeb; border-top: 0; padding: 27px 10px">
                <button style="border: 2px solid #000; padding: 10px 15px">Tiếp tục mua hàng</button>
                <button style="background-color: #c69c6d; color: #fff; padding: 10px 15px; text-transform: uppercase">Tiến hành thanh toán</button>
            </div>
        </div>
    </div>

</section>

@code {
    [Parameter]
    public Guid id { get; set; }

    private List<CartDetail> lstCartDetails;

    private List<Food> lstFood;

    private int quantity = 1;
    protected override async Task OnInitializedAsync()
    {
        lstCartDetails = await cartServices.GetAllCartDetails(id);
        lstFood = await FoodServices.GetAllFood();
    }
}